:root {
  --base-color: #0b151c;
  --secondary-base-color: #8e6d35;
  --header-footer-color: #212121;
  --text-color: #ffffff;
  --secondary-text-color: #d8d8d8;
  --accent-color: #dd9c00;
  --secondary-accent-color: rgba(221, 156, 0, 0.5);
  --selection-color: #e8e8e8;
}

.darkMode {
  --base-color: #000000;
  --secondary-base-color: #191919;
  --header-footer-color: #151515;
  --text-color: #cacaca;
  --secondary-text-color: #d8d8d8;
  --accent-color: #5c3f00;
  --secondary-accent-color: rgba(58, 42, 0, 0.5);
  --selection-color: #e8e8e8;
}

* {
  transition: background-color 0.5s ease, color 0.5s ease;
}

body {
  background-color: var(--base-color);
}

@media screen and (min-width: 1001px) {
  * {
    cursor: none;
  }
}

@media screen and (max-width: 1000px) {
  .cursor {
    display: none;
  }

  cursor: auto;
}

section {
  margin-bottom: 5rem;
}

.cursor {
  z-index: 999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 30px;
  height: 30px;

  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.75;
  border-radius: 50%;
  transition: top 0.15s ease-out, left 0.15s ease-out;
}




::-webkit-scrollbar {
  width: 1.25em;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 100vw;
  margin-block: -1em;
  cursor: default;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#6a6a6a, #d8d8d8);
  border-radius: 100vw;
  border: 0.25em solid #2e2e2e;
  cursor: pointer;
}

* {
  z-index: 0;
  font-family: 'montserrat', 'arial', 'gg sans', 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h1 {
  color: var(--text-color);
  font-size: 5rem;
  font-weight: 900;
}

h2 {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 800;
}

h3 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  color: var(--text-color);
  font-size: 1.75rem;
  font-weight: 600;
}

h5 {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
}

h6 {
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
}

.sticky {
  position: sticky;
  top: 0;
}


html {
  line-height: 1.4;
  scroll-behavior: smooth;
}






/* Header */

#themeSwitch {
  padding: 0.25rem;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

#themeSwitch svg {
  fill: var(--header-footer-color);
}

#themeSwitch svg:first-child {
  display: none;
}

.darkMode #themeSwitch svg:last-child {
  display: none;
}

.darkMode #themeSwitch svg:first-child {
  display: block;
}

@keyframes popIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

header {
  z-index: 998;
  animation: popIn 1s ease;
  display: flex;
  align-items: center;
  padding: 0 1.25em;
  background-color: var(--header-footer-color);
  transition: background-color 1s ease;
}

#logo {
  display: flex;
  align-items: center;
}

header:hover p {
  font-weight: 900;
}

header:hover img {
  width: 3.5em;
  height: 3.5em;
}

#logo img {
  width: 3em;
  height: 3em;
  margin: 1.25em;
  transition: width 0.7s ease, height 0.7s ease;
}

@media screen and (max-width: 768px) {
  #logo img {
    margin: 0.75em 0 0.75em 0.75em;
  }
}

#logo p {
  font-size: 1em;
  font-weight: 800;
  transition: font-weight 0.7s ease;
}


#linksHeader {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

#linksHeader li {
  list-style-type: none;
  margin: 0.5em;
  font-weight: 300;
  border-radius: 20px;
  padding: 0.5em 1em;
  transition: background-color 0.7s ease-in-out;
}

#linksHeader li:hover {
  background-color: var(--secondary-accent-color);
}


.off-screen-menu {
  background-color: var(--header-footer-color);
  height: 100%;
  width: 70%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
  max-width: 450px;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  transition: 0.3s ease;
}

.off-screen-menu.active {
  left: 0;
}

.off-screen-menu li {
  list-style-type: none;
  font-size: 1.25rem;
  margin: 1.25rem;
  font-weight: 300;
  border-radius: 20px;
  padding: 0.5em 1em;
}

.hamMenu {
  display: none;
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: 1em;
  position: relative;
}

.hamMenu span {
  height: 4px;
  width: 70%;
  background-color: var(--text-color);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.hamMenu span:nth-child(1) {
  top: 25%
}

.hamMenu span:nth-child(3) {
  top: 75%
}

.hamMenu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamMenu.active span:nth-child(2) {
  opacity: 0;
}

.hamMenu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}


@media screen and (max-width: 480px) {
  .hamMenu {
    display: block;
  }

  #linksHeader {
    display: none;
  }

  #logo p {
    padding: 1em;
  }
}

@media screen and (max-width: 768px) {
  #linksHeader a {
    font-size: 0.75em;
  }
}





/* Footer */

footer {
  display: flex;
  background: var(--header-footer-color);
  margin: 0;
  padding: 0 1.25em;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  font-weight: 300;
  transition: background-color 1s ease;
  width: 100%;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer img {
  width: 3rem;
  height: 3rem;
  margin: 1.25em;
}

footer p {
  font-size: 0.75em;
  margin: 1.25em;
}

footer span {
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin: 1.25em 0.5em;
}

#bigClassName {
  display: flex;
}

#smallClassName {
  display: none;
}

@media screen and (max-width: 1280px) {
  footer {
    font-size: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer p {
    margin: 0.5em;
  }

  footer div {
    flex-direction: column;
  }

  .siteName {
    display: none;
  }

  footer span {
    display: none;
  }

  #bigClassName {
    display: none;
  }

  #smallClassName {
    display: flex;
  }
}





/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: var(--selection-color);
  margin: 10px;
  text-shadow: rgb(0, 0, 0, 0.5) 5px 5px 10px;
}

::selection {
  background: var(--selection-color);
  margin: 10px;
  text-shadow: rgb(0, 0, 0, 0.5) 5px 5px 10px;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid var(--text-color);
  margin: 3em 45vw;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
