:root {
  --base-color: #80ae89;
  --secondary-base-color: #D99201;
  --header-footer-color: #f2f2f2;
  --text-color: #000000;
  --secondary-text-color: #222;
  --accent-color: #dd9c00;
  --secondary-accent-color: rgba(221, 156, 0, 0.5);
  --selection-color: #e8e8e8;
}

.darkMode {
  --base-color: #171e19;
  --secondary-base-color: #8e6d35;
  --header-footer-color: #202020;
  --text-color: #ffffff;
  --secondary-text-color: #d8d8d8;
  --accent-color: #dd9c00;
  --secondary-accent-color: rgba(221, 156, 0, 0.5);
  --selection-color: #808080;
}

body {
  background-color: var(--base-color);
}

@media screen and (min-width: 1001px) {
  * {
    cursor: none;
  }
}

@media screen and (max-width: 1000px) {
  .cursor {
    display: none;
  }

  cursor: auto;
}

section {
  margin-bottom: 5rem;
}

.cursor {
  z-index: 999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 30px;
  height: 30px;

  background-color: #000000;
  opacity: 0.75;
  border-radius: 50%;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}




::-webkit-scrollbar {
  width: 1.25em;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 100vw;
  margin-block: -1em;
  cursor: default;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#6a6a6a, #d8d8d8);
  border-radius: 100vw;
  border: 0.25em solid #2e2e2e;
  cursor: pointer;
}

* {
  z-index: 0;
  font-family: 'montserrat', 'arial', 'gg sans', 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h1 {
  color: var(--text-color);
  font-size: 5rem;
  font-weight: 900;
}

h2 {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 800;
}

h3 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  color: var(--text-color);
  font-size: 1.75rem;
  font-weight: 600;
}

h5 {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
}

h6 {
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
}

.sticky {
  position: sticky;
  top: 0;
}


html {
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: var(--selection-color);
  margin: 10px;
  text-shadow: rgb(0, 0, 0, 0.5) 5px 5px 10px;
}

::selection {
  background: var(--selection-color);
  margin: 10px;
  text-shadow: rgb(0, 0, 0, 0.5) 5px 5px 10px;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid var(--text-color);
  margin: 3em 45vw;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
