
@keyframes popIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#header {
  z-index: 999;
  animation: popIn 1s ease;
  display: flex;
  align-items: center;
  padding: 0 1.25em;
  background-color: #f2f2f2;
  transition: background-color 1s ease;
}

#logo {
  display: flex;
  align-items: center;
}

#header:hover p {
  font-weight: 900;
}

#header:hover img {
  width: 3.5em;
  height: 3.5em;
}

#logo img {
  width: 3em;
  height: 3em;
  margin: 1.25em;
  transition: width 0.7s ease, height 0.7s ease;
}

#logo p {
  font-size: 1em;
  font-weight: 600;
  transition: font-weight 0.7s ease;
}


#linksHeader {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

#linksHeader li {
  list-style-type: none;
  margin: 0.5em;
  font-weight: 300;
  border-radius: 20px;
  padding: 0.5em 1em;
  transition: background-color 0.7s ease-in-out;
}

#linksHeader li:hover {
  background-color: #af0000;
}


.off-screen-menu {
  background-color: #f2f2f2;
  height: 100%;
  width: 70%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
  max-width: 450px;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  transition: 0.3s ease;
}

.off-screen-menu.active {
  left: 0;
}

.off-screen-menu li {
  list-style-type: none;
  font-size: 1.25rem;
  margin: 1.25rem;
  font-weight: 300;
  border-radius: 20px;
  padding: 0.5em 1em;
}

.hamMenu {
  display: none;
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: 1em;
  position: relative;
}

.hamMenu span {
  height: 4px;
  width: 70%;
  background-color: #000000;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.hamMenu span:nth-child(1) {
  top: 25%
}

.hamMenu span:nth-child(3) {
  top: 75%
}

.hamMenu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamMenu.active span:nth-child(2) {
  opacity: 0;
}

.hamMenu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}


@media screen and (max-width: 768px) {
  .hamMenu {
    display: block;
  }

  #linksHeader {
    display: none;
  }
}
